In [60]:
import pandas as pd
import numpy as np

In [5]:
# array
s1 = pd.Series([0.5, 1.0, 1.5, 2.0])
print(s1[0])

# Array and index
s2 = pd.Series([0.5, 1.0, 1.5, 2.0], index=['a', 'd', 'b', 'c'])
print(s2['d'])

# Dictionary
s3 = pd.Series({'a': 15, 'd': 18, 'c': 20, 'b': 9})
print(s3)

0.5
1.0
a    15
b     9
c    20
d    18
dtype: int64

In [6]:
# Filtering
s3[s3 < 16] # Returns filtered Series with values

a    15
b     9
dtype: int64

In [7]:
# Multiplication
s3 * 2

a    30
b    18
c    40
d    36
dtype: int64

In [8]:
# Apply
s3.apply(lambda x: True if x < 16 else False)

a     True
b     True
c    False
d    False
dtype: bool

In [9]:
# Absolute
s3.abs()

a    15
b     9
c    20
d    18
dtype: int64

In [11]:
# Check if index exists in Series
print('a' in s3)
print('e' in s3)

True
False

In [12]:
# Get values in Series
s3[['a', 'c']]

a    15
c    20
dtype: int64

In [15]:
# Other examples
print(s3.mean())
print(s3.std())
print(s3.min())
print(s3.max())

15.5
4.795831523312719
9
20

In [16]:
# DataFrame (2-Dimensional table with labeled axes.)
data = {
    "city": ["Paris", "London", "Berlin"], 
    "density": [3550, 5100, 3750],
    "area": [2723, 1623, 984],
    "population": [9645000, 8278000, 3675000],
}

df = pd.DataFrame(data)

In [18]:
df['area'] # or df.area

0    2723
1    1623
2     984
Name: area, dtype: int64

# Working with Datasets (Pt.1)

merge datasets and make some basic manipulations and calculations.

In [19]:
df1 = pd.read_csv('data/users_with_age_data.csv')
df2 = pd.read_csv('data/users_with_gender_data.csv')

In [23]:
# Merging DataFrames
# left merge using the 'user_id' column as keys (this only retains row that exists in df1)
df1.merge(df2, on='user_id', how='left')

   user_id  age gender
0        1   30    'M'
1        2   40    'F'
2        4   14    'F'
3        6   35    'M'
4        7   16    NaN
5        8   50    NaN

In [24]:
# Outer merge using the 'user_id' column as keys (all rows are kept, empty values are filled with nulls)
users = df1.merge(df2, on='user_id', how='outer')
print(users)

   user_id   age gender
0        1  30.0    'M'
1        2  40.0    'F'
2        4  14.0    'F'
3        6  35.0    'M'
4        7  16.0    NaN
5        8  50.0    NaN
6        3   NaN    'M'
7        5   NaN    'M'

In [26]:
# Manipulationg DataFrames
# fills the empty values in 'gender' with 'F'
users['gender'] = users['gender'].fillna("'F'")
print(users)

   user_id   age gender
0        1  30.0    'M'
1        2  40.0    'F'
2        4  14.0    'F'
3        6  35.0    'M'
4        7  16.0    'F'
5        8  50.0    'F'
6        3   NaN    'M'
7        5   NaN    'M'

In [28]:
# Fills the empty values in 'age' with the available mean age
users['age'] = users['age'].fillna(users['age'].mean())
print(users)

   user_id        age gender
0        1  30.000000    'M'
1        2  40.000000    'F'
2        4  14.000000    'F'
3        6  35.000000    'M'
4        7  16.000000    'F'
5        8  50.000000    'F'
6        3  30.833333    'M'
7        5  30.833333    'M'

In [34]:
# Grouping and calculations
# evaluating datasets is to group the data by certain criteria 
# and making calculations based off that. using the groupby()

# groups rows by 'gender' column
grouped = users.groupby('gender')
print(grouped)

# aggregates number of rows after grouping
grouped.count()

# access grouped columns and apply mean function
grouped['age'].mean()

<pandas.core.groupby.DataFrameGroupBy object at 0x1086c1780>

gender
'F'    30.000000
'M'    31.666667
Name: age, dtype: float64

In [36]:
# adding columns
# add new columns to DataFrames
# adds a new column based on function applied to another column
users['minor'] = users['age'].apply(lambda x: True if x < 18 else False)
users

   user_id        age gender  minor
0        1  30.000000    'M'  False
1        2  40.000000    'F'  False
2        4  14.000000    'F'   True
3        6  35.000000    'M'  False
4        7  16.000000    'F'   True
5        8  50.000000    'F'  False
6        3  30.833333    'M'  False
7        5  30.833333    'M'  False

# Working with Datasets (Pt.2)

For this example, you will work on the given dataset of movie ratings to determine a few things:

    What are the favorite movies of males vs females
    What are the movies with the most discrepancy between reviews

In [37]:
# Delimiter (character used to separate data), names(array of names to use as label-ordered specific)
users = pd.read_csv(
    'movie/users.dat', 
    delimiter='::', 
    names=['user_id', 'gender', 'age', 'occupation_code', 'zip'],
    engine='python')
users

      user_id gender  age  occupation_code    zip
0           1      F    1               10  48067
1           2      M   56               16  70072
2           3      M   25               15  55117
3           4      M   45                7  02460
4           5      M   25               20  55455
5           6      F   50                9  55117
6           7      M   35                1  06810
7           8      M   25               12  11413
8           9      M   25               17  61614
9          10      F   35                1  95370
10         11      F   25                1  04093
11         12      M   25               12  32793
12         13      M   45                1  93304
13         14      M   35                0  60126
14         15      M   25                7  22903
15         16      F   35                0  20670
16         17      M   50                1  95350
17         18      F   18                3  95825
18         19      M    1               10  48073
19         20      M   25               14  55113
20         21      M   18               16  99353
21         22      M   18               15  53706
22         23      M   35                0  90049
23         24      F   25                7  10023
24         25      M   18                4  01609
25         26      M   25                7  23112
26         27      M   25               11  19130
27         28      F   25                1  14607
28         29      M   35                7  33407
29         30      F   35                7  19143
...       ...    ...  ...              ...    ...
6010     6011      M   35               15  80538
6011     6012      M   35               15  02871
6012     6013      F   25               20  32301
6013     6014      M   45                1  80634
6014     6015      F   25                9  80013
6015     6016      M   45                1  37209
6016     6017      F   35                7  21117
6017     6018      M   35                1  48906
6018     6019      M   25                0  10024
6019     6020      M   50               16  10023
6020     6021      M   25               12  08876
6021     6022      M   25               17  57006
6022     6023      M   25                0  43213
6023     6024      M   25               12  53705
6024     6025      F   25                1  32607
6025     6026      M   35                6  11210
6026     6027      M   18                4  20742
6027     6028      M   18                4  94133
6028     6029      F   25                1  23185
6029     6030      M   25               17  32618
6030     6031      F   18                0  45123
6031     6032      M   45                7  55108
6032     6033      M   50               13  78232
6033     6034      M   25               14  94117
6034     6035      F   25                1  78734
6035     6036      F   25               15  32603
6036     6037      F   45                1  76006
6037     6038      F   56                1  14706
6038     6039      F   45                0  01060
6039     6040      M   25                6  11106

[6040 rows x 5 columns]

In [38]:
ratings = pd.read_csv(
    'movie/ratings.dat',
    delimiter='::', 
    names=['user_id', 'movie_id', 'rating', 'timestamp'],
    engine='python')
ratings

         user_id  movie_id  rating  timestamp
0              1      1193       5  978300760
1              1       661       3  978302109
2              1       914       3  978301968
3              1      3408       4  978300275
4              1      2355       5  978824291
5              1      1197       3  978302268
6              1      1287       5  978302039
7              1      2804       5  978300719
8              1       594       4  978302268
9              1       919       4  978301368
10             1       595       5  978824268
11             1       938       4  978301752
12             1      2398       4  978302281
13             1      2918       4  978302124
14             1      1035       5  978301753
15             1      2791       4  978302188
16             1      2687       3  978824268
17             1      2018       4  978301777
18             1      3105       5  978301713
19             1      2797       4  978302039
20             1      2321       3  978302205
21             1       720       3  978300760
22             1      1270       5  978300055
23             1       527       5  978824195
24             1      2340       3  978300103
25             1        48       5  978824351
26             1      1097       4  978301953
27             1      1721       4  978300055
28             1      1545       4  978824139
29             1       745       3  978824268
...          ...       ...     ...        ...
1000179     6040      2762       4  956704584
1000180     6040      1036       3  956715455
1000181     6040       508       4  956704972
1000182     6040      1041       4  957717678
1000183     6040      3735       4  960971654
1000184     6040      2791       4  956715569
1000185     6040      2794       1  956716438
1000186     6040       527       5  956704219
1000187     6040      2003       1  956716294
1000188     6040       535       4  964828734
1000189     6040      2010       5  957716795
1000190     6040      2011       4  956716113
1000191     6040      3751       4  964828782
1000192     6040      2019       5  956703977
1000193     6040       541       4  956715288
1000194     6040      1077       5  964828799
1000195     6040      1079       2  956715648
1000196     6040       549       4  956704746
1000197     6040      2020       3  956715288
1000198     6040      2021       3  956716374
1000199     6040      2022       5  956716207
1000200     6040      2028       5  956704519
1000201     6040      1080       4  957717322
1000202     6040      1089       4  956704996
1000203     6040      1090       3  956715518
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

[1000209 rows x 4 columns]

In [40]:
movies = pd.read_csv(
    'movie/movies.dat',
    delimiter='::',
    names=['movie_id', 'title', 'genre'],
    engine='python'
)
movies

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi
3854,3924,Pajama Party (1964),Comedy
3855,3925,Stranger Than Paradise (1984),Comedy
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3864,3934,Kronos (1957),Sci-Fi
3865,3935,Kronos (1973),Horror
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3867,3937,Runaway (1984),Sci-Fi|Thriller
3868,3938,"Slumber Party Massacre, The (1982)",Horror
3869,3939,"Slumber Party Massacre II, The (1987)",Horror
3870,3940,"Slumber Party Massacre III, The (1990)",Horror
3871,3941,Sorority House Massacre (1986),Horror
3872,3942,Sorority House Massacre II (1990),Horror
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3876,3946,Get Carter (2000),Action|Drama|Thriller
3877,3947,Get Carter (1971),Thriller
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [41]:
# merging dataFrames
merged = users.merge(ratings, on='user_id').merge(movies, on='movie_id')
merged

,user_id,gender,age,occupation_code,zip,movie_id,rating,timestamp,title,genre
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,F,18,3,95825,1193,4,978156168,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,M,1,10,48073,1193,5,982730936,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,F,25,7,10023,1193,5,978136709,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,F,25,1,14607,1193,3,978125194,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,M,45,3,55421,1193,5,978557765,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,M,18,4,61820,1193,5,978043535,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,M,25,8,24502,1193,3,978038981,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,M,45,17,98052,1193,4,978018995,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,M,18,4,94305,1193,4,977978345,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,M,25,4,92107,1193,4,977975061,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,M,18,12,77084,1193,4,978813972,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,M,25,0,96931,1193,5,977946400,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,M,50,1,56723,1193,5,977944039,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,M,25,2,30303,1193,5,977933866,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,F,50,1,55413,1193,4,977934292,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,F,35,3,98105,1193,4,977968584,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,M,56,1,49327,1193,4,977786172,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,F,25,0,60640,1193,5,977785864,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,F,45,1,02476,1193,5,977694161,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,F,56,9,85749,1193,5,977683596,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,M,45,0,98201,1193,5,977626632,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,F,25,16,78028,1193,3,977621789,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,F,1,10,19390,1193,2,982791053,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,M,35,19,20871,1193,5,1040737607,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,M,25,12,00926,1193,2,977546620,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000179,4933,M,25,15,94040,3084,3,962757020,Home Page (1999),Documentary
1000180,4802,M,56,1,40601,2218,2,1014866656,Juno and Paycock (1930),Drama
1000181,4812,M,18,14,25301,2308,2,962932391,Detroit 9000 (1973),Action|Crime
1000182,4874,F,25,4,70808,624,4,962781918,Condition Red (1995),Action|Drama|Thriller
1000183,5059,M,45,16,22652,1434,4,962484364,"Stranger, The (1994)",Action
1000184,5947,F,45,16,97215,1434,4,957190428,"Stranger, The (1994)",Action
1000185,5077,M,25,2,20037,1868,3,962417299,"Truce, The (1996)",Drama|War
1000186,5944,F,18,10,27606,1868,1,957197520,"Truce, The (1996)",Drama|War
1000187,5105,M,50,7,18977,404,3,962337582,Brother Minister: The Assassination of Malcolm...,Documentary
1000188,5185,F,35,4,44485,404,4,963402617,Brother Minister: The Assassination of Malcolm...,Documentary
1000189,5532,M,25,17,27408,404,5,959619841,Brother Minister: The Assassination of Malcolm...,Documentary
1000190,5543,M,25,17,97401,404,3,960127592,Brother Minister: The Assassination of Malcolm...,Documentary
1000191,5220,M,25,7,91436,2543,3,961546137,Six Ways to Sunday (1997),Comedy
1000192,5754,F,18,1,60640,2543,4,958272316,Six Ways to Sunday (1997),Comedy
1000193,5227,M,18,10,64050,591,3,961475931,Tough and Deadly (1995),Action|Drama|Thriller
1000194,5795,M,25,1,92688,591,1,958145253,Tough and Deadly (1995),Action|Drama|Thriller
1000195,5313,M,56,0,55406,3656,5,960920392,Lured (1947),Crime
1000196,5328,F,25,4,91740,2438,4,960838075,Outside Ozona (1998),Drama|Thriller
1000197,5334,F,56,13,46140,3323,3,960796159,Chain of Fools (2000),Comedy|Crime
1000198,5334,F,56,13,46140,127,1,960795494,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama
1000199,5334,F,56,13,46140,3382,5,960796159,Song of Freedom (1936),Drama
1000200,5420,F,1,19,14850,1843,3,960156505,Slappy and the Stinkers (1998),Children's|Comedy
1000201,5433,F,35,17,45014,286,3,960240881,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
1000202,5494,F,35,17,94306,3530,4,959816296,Smoking/No Smoking (1993),Comedy
1000203,5556,M,45,6,92103,2198,3,959445515,Modulations (1998),Documentary
1000204,5949,M,18,17,47901,2198,5,958846401,Modulations (1998),Documentary
1000205,5675,M,35,14,30030,2703,3,976029116,Broken Vessels (1998),Drama
1000206,5780,M,18,17,92886,2845,1,958153068,White Boys (1999),Drama
1000207,5851,F,18,20,55410,3607,5,957756608,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,M,25,1,35401,2909,4,957273353,"Five Wives, Three Secretaries and Me (1998)",Documentary

In [43]:
# Sort by number of ratings
# There are times where the amount of data is too low to be meaningful. 
# In such cases, it is better to set a threshold and remove data that you would deem inconsequential.
# Here, you will group the movie ratings together by title and make some judgements on the threshold.

# group ratings by title and aggregate the values, then sort the values in descending order
sorted_movies = merged.groupby('title').count().sort_values(by='rating', ascending=False)
sorted_movies

,user_id,gender,age,occupation_code,zip,movie_id,rating,timestamp,genre
title,,,,,,,,,
American Beauty (1999),3428,3428,3428,3428,3428,3428,3428,3428,3428
Star Wars: Episode IV - A New Hope (1977),2991,2991,2991,2991,2991,2991,2991,2991,2991
Star Wars: Episode V - The Empire Strikes Back (1980),2990,2990,2990,2990,2990,2990,2990,2990,2990
Star Wars: Episode VI - Return of the Jedi (1983),2883,2883,2883,2883,2883,2883,2883,2883,2883
Jurassic Park (1993),2672,2672,2672,2672,2672,2672,2672,2672,2672
Saving Private Ryan (1998),2653,2653,2653,2653,2653,2653,2653,2653,2653
Terminator 2: Judgment Day (1991),2649,2649,2649,2649,2649,2649,2649,2649,2649
"Matrix, The (1999)",2590,2590,2590,2590,2590,2590,2590,2590,2590
Back to the Future (1985),2583,2583,2583,2583,2583,2583,2583,2583,2583
"Silence of the Lambs, The (1991)",2578,2578,2578,2578,2578,2578,2578,2578,2578
Men in Black (1997),2538,2538,2538,2538,2538,2538,2538,2538,2538
Raiders of the Lost Ark (1981),2514,2514,2514,2514,2514,2514,2514,2514,2514
Fargo (1996),2513,2513,2513,2513,2513,2513,2513,2513,2513
"Sixth Sense, The (1999)",2459,2459,2459,2459,2459,2459,2459,2459,2459
Braveheart (1995),2443,2443,2443,2443,2443,2443,2443,2443,2443
Shakespeare in Love (1998),2369,2369,2369,2369,2369,2369,2369,2369,2369
"Princess Bride, The (1987)",2318,2318,2318,2318,2318,2318,2318,2318,2318
Schindler's List (1993),2304,2304,2304,2304,2304,2304,2304,2304,2304
L.A. Confidential (1997),2288,2288,2288,2288,2288,2288,2288,2288,2288
Groundhog Day (1993),2278,2278,2278,2278,2278,2278,2278,2278,2278
E.T. the Extra-Terrestrial (1982),2269,2269,2269,2269,2269,2269,2269,2269,2269
Star Wars: Episode I - The Phantom Menace (1999),2250,2250,2250,2250,2250,2250,2250,2250,2250
Being John Malkovich (1999),2241,2241,2241,2241,2241,2241,2241,2241,2241
"Shawshank Redemption, The (1994)",2227,2227,2227,2227,2227,2227,2227,2227,2227
"Godfather, The (1972)",2223,2223,2223,2223,2223,2223,2223,2223,2223
Forrest Gump (1994),2194,2194,2194,2194,2194,2194,2194,2194,2194
Ghostbusters (1984),2181,2181,2181,2181,2181,2181,2181,2181,2181
Pulp Fiction (1994),2171,2171,2171,2171,2171,2171,2171,2171,2171
"Terminator, The (1984)",2098,2098,2098,2098,2098,2098,2098,2098,2098
Toy Story (1995),2077,2077,2077,2077,2077,2077,2077,2077,2077
...,...,...,...,...,...,...,...,...,...
Anna (1996),1,1,1,1,1,1,1,1,1
"Silence of the Palace, The (Saimt el Qusur) (1994)",1,1,1,1,1,1,1,1,1
Fausto (1993),1,1,1,1,1,1,1,1,1
Running Free (2000),1,1,1,1,1,1,1,1,1
Number Seventeen (1932),1,1,1,1,1,1,1,1,1
Nueba Yol (1995),1,1,1,1,1,1,1,1,1
Death in Brunswick (1991),1,1,1,1,1,1,1,1,1
Waltzes from Vienna (1933),1,1,1,1,1,1,1,1,1
Ulysses (Ulisse) (1954),1,1,1,1,1,1,1,1,1
Ten Benny (1997),1,1,1,1,1,1,1,1,1
Beauty (1998),1,1,1,1,1,1,1,1,1
Telling You (1998),1,1,1,1,1,1,1,1,1
"Fantastic Night, The (La Nuit Fantastique) (1949)",1,1,1,1,1,1,1,1,1
Condition Red (1995),1,1,1,1,1,1,1,1,1
Broken Vessels (1998),1,1,1,1,1,1,1,1,1
Underworld (1997),1,1,1,1,1,1,1,1,1
Fall Time (1995),1,1,1,1,1,1,1,1,1
"Alley Cats, The (1968)",1,1,1,1,1,1,1,1,1
Night Tide (1961),1,1,1,1,1,1,1,1,1
"Uninvited Guest, An (2000)",1,1,1,1,1,1,1,1,1
"Little Indian, Big City (Un indien dans la ville) (1994)",1,1,1,1,1,1,1,1,1
Choices (1981),1,1,1,1,1,1,1,1,1
White Boys (1999),1,1,1,1,1,1,1,1,1
Detroit 9000 (1973),1,1,1,1,1,1,1,1,1
Tashunga (1995),1,1,1,1,1,1,1,1,1
Target (1995),1,1,1,1,1,1,1,1,1
I Don't Want to Talk About It (De eso no se habla) (1993),1,1,1,1,1,1,1,1,1
An Unforgettable Summer (1994),1,1,1,1,1,1,1,1,1
Never Met Picasso (1996),1,1,1,1,1,1,1,1,1
Full Speed (1996),1,1,1,1,1,1,1,1,1

In [45]:
# get the top 5 rated movie
sorted_movies.head(5)

,user_id,gender,age,occupation_code,zip,movie_id,rating,timestamp,genre
title,,,,,,,,,
American Beauty (1999),3428,3428,3428,3428,3428,3428,3428,3428,3428
Star Wars: Episode IV - A New Hope (1977),2991,2991,2991,2991,2991,2991,2991,2991,2991
Star Wars: Episode V - The Empire Strikes Back (1980),2990,2990,2990,2990,2990,2990,2990,2990,2990
Star Wars: Episode VI - Return of the Jedi (1983),2883,2883,2883,2883,2883,2883,2883,2883,2883
Jurassic Park (1993),2672,2672,2672,2672,2672,2672,2672,2672,2672

In [46]:
# applying query to the dataFrame
# We will deem movies with less than 250 ratings to be inactive and would therefore not give good results.

# list movies with  >= 250 ratings
active_titles = sorted_movies.query('rating >= 250')
active_titles

,user_id,gender,age,occupation_code,zip,movie_id,rating,timestamp,genre
title,,,,,,,,,
American Beauty (1999),3428,3428,3428,3428,3428,3428,3428,3428,3428
Star Wars: Episode IV - A New Hope (1977),2991,2991,2991,2991,2991,2991,2991,2991,2991
Star Wars: Episode V - The Empire Strikes Back (1980),2990,2990,2990,2990,2990,2990,2990,2990,2990
Star Wars: Episode VI - Return of the Jedi (1983),2883,2883,2883,2883,2883,2883,2883,2883,2883
Jurassic Park (1993),2672,2672,2672,2672,2672,2672,2672,2672,2672
Saving Private Ryan (1998),2653,2653,2653,2653,2653,2653,2653,2653,2653
Terminator 2: Judgment Day (1991),2649,2649,2649,2649,2649,2649,2649,2649,2649
"Matrix, The (1999)",2590,2590,2590,2590,2590,2590,2590,2590,2590
Back to the Future (1985),2583,2583,2583,2583,2583,2583,2583,2583,2583
"Silence of the Lambs, The (1991)",2578,2578,2578,2578,2578,2578,2578,2578,2578
Men in Black (1997),2538,2538,2538,2538,2538,2538,2538,2538,2538
Raiders of the Lost Ark (1981),2514,2514,2514,2514,2514,2514,2514,2514,2514
Fargo (1996),2513,2513,2513,2513,2513,2513,2513,2513,2513
"Sixth Sense, The (1999)",2459,2459,2459,2459,2459,2459,2459,2459,2459
Braveheart (1995),2443,2443,2443,2443,2443,2443,2443,2443,2443
Shakespeare in Love (1998),2369,2369,2369,2369,2369,2369,2369,2369,2369
"Princess Bride, The (1987)",2318,2318,2318,2318,2318,2318,2318,2318,2318
Schindler's List (1993),2304,2304,2304,2304,2304,2304,2304,2304,2304
L.A. Confidential (1997),2288,2288,2288,2288,2288,2288,2288,2288,2288
Groundhog Day (1993),2278,2278,2278,2278,2278,2278,2278,2278,2278
E.T. the Extra-Terrestrial (1982),2269,2269,2269,2269,2269,2269,2269,2269,2269
Star Wars: Episode I - The Phantom Menace (1999),2250,2250,2250,2250,2250,2250,2250,2250,2250
Being John Malkovich (1999),2241,2241,2241,2241,2241,2241,2241,2241,2241
"Shawshank Redemption, The (1994)",2227,2227,2227,2227,2227,2227,2227,2227,2227
"Godfather, The (1972)",2223,2223,2223,2223,2223,2223,2223,2223,2223
Forrest Gump (1994),2194,2194,2194,2194,2194,2194,2194,2194,2194
Ghostbusters (1984),2181,2181,2181,2181,2181,2181,2181,2181,2181
Pulp Fiction (1994),2171,2171,2171,2171,2171,2171,2171,2171,2171
"Terminator, The (1984)",2098,2098,2098,2098,2098,2098,2098,2098,2098
Toy Story (1995),2077,2077,2077,2077,2077,2077,2077,2077,2077
...,...,...,...,...,...,...,...,...,...
54 (1998),259,259,259,259,259,259,259,259,259
"Cradle Will Rock, The (1999)",259,259,259,259,259,259,259,259,259
Running Scared (1986),259,259,259,259,259,259,259,259,259
Cocoon: The Return (1988),259,259,259,259,259,259,259,259,259
"Mis�rables, Les (1998)",259,259,259,259,259,259,259,259,259
Red Rock West (1992),258,258,258,258,258,258,258,258,258
"7th Voyage of Sinbad, The (1958)",258,258,258,258,258,258,258,258,258
"Parent Trap, The (1961)",258,258,258,258,258,258,258,258,258
"Corrina, Corrina (1994)",257,257,257,257,257,257,257,257,257
Forget Paris (1995),257,257,257,257,257,257,257,257,257
Diva (1981),257,257,257,257,257,257,257,257,257
"Outsiders, The (1983)",256,256,256,256,256,256,256,256,256
Muppet Treasure Island (1996),256,256,256,256,256,256,256,256,256
Last Man Standing (1996),256,256,256,256,256,256,256,256,256
"Last Temptation of Christ, The (1988)",254,254,254,254,254,254,254,254,254
Disclosure (1994),254,254,254,254,254,254,254,254,254
Farewell My Concubine (1993),254,254,254,254,254,254,254,254,254
"Falcon and the Snowman, The (1984)",253,253,253,253,253,253,253,253,253
Bottle Rocket (1996),253,253,253,253,253,253,253,253,253
"39 Steps, The (1935)",253,253,253,253,253,253,253,253,253
"Bicycle Thief, The (Ladri di biciclette) (1948)",252,252,252,252,252,252,252,252,252
Take the Money and Run (1969),252,252,252,252,252,252,252,252,252
"Bachelor, The (1999)",252,252,252,252,252,252,252,252,252
"Man Who Knew Too Little, The (1997)",252,252,252,252,252,252,252,252,252
Wes Craven's New Nightmare (1994),251,251,251,251,251,251,251,251,251
"Presidio, The (1988)",251,251,251,251,251,251,251,251,251
Top Hat (1935),251,251,251,251,251,251,251,251,251
Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991),251,251,251,251,251,251,251,251,251
U Turn (1997),250,250,250,250,250,250,250,250,250
Random Hearts (1999),250,250,250,250,250,250,250,250,250

In [47]:
# Ungrouping DataFrames
# It is useful to ungroup the data again for further evaluation.

# filter original DataFrame with index of filtered DataFrame
ungrouped_sorted_movies = merged[merged['title'].isin(active_titles.index)]
ungrouped_sorted_movies

,user_id,gender,age,occupation_code,zip,movie_id,rating,timestamp,title,genre
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,F,18,3,95825,1193,4,978156168,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,M,1,10,48073,1193,5,982730936,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,F,25,7,10023,1193,5,978136709,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,F,25,1,14607,1193,3,978125194,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,M,45,3,55421,1193,5,978557765,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,M,18,4,61820,1193,5,978043535,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,M,25,8,24502,1193,3,978038981,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,M,45,17,98052,1193,4,978018995,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,M,18,4,94305,1193,4,977978345,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,M,25,4,92107,1193,4,977975061,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,M,18,12,77084,1193,4,978813972,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,M,25,0,96931,1193,5,977946400,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,M,50,1,56723,1193,5,977944039,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,M,25,2,30303,1193,5,977933866,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,F,50,1,55413,1193,4,977934292,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,F,35,3,98105,1193,4,977968584,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,M,56,1,49327,1193,4,977786172,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,F,25,0,60640,1193,5,977785864,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,F,45,1,02476,1193,5,977694161,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,F,56,9,85749,1193,5,977683596,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,M,45,0,98201,1193,5,977626632,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,F,25,16,78028,1193,3,977621789,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,F,1,10,19390,1193,2,982791053,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,M,35,19,20871,1193,5,1040737607,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,M,25,12,00926,1193,2,977546620,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
983105,5364,F,25,3,55408,2889,5,960522914,"Mystery, Alaska (1999)",Comedy
983106,5367,M,18,4,55344,2889,2,960504757,"Mystery, Alaska (1999)",Comedy
983107,5397,M,18,0,60451,2889,2,963416132,"Mystery, Alaska (1999)",Comedy
983108,5404,M,25,0,30068,2889,3,960345173,"Mystery, Alaska (1999)",Comedy
983109,5409,M,45,1,60091,2889,3,960245090,"Mystery, Alaska (1999)",Comedy
983110,5457,M,18,12,55405,2889,4,959914582,"Mystery, Alaska (1999)",Comedy
983111,5480,F,25,14,07030,2889,3,959867750,"Mystery, Alaska (1999)",Comedy
983112,5487,M,25,17,95136,2889,4,959821796,"Mystery, Alaska (1999)",Comedy
983113,5504,M,45,7,85287-2702,2889,3,959733625,"Mystery, Alaska (1999)",Comedy
983114,5513,M,35,1,91768,2889,1,959709909,"Mystery, Alaska (1999)",Comedy
983115,5521,F,25,6,02118,2889,4,959648723,"Mystery, Alaska (1999)",Comedy
983116,5536,M,25,16,67204,2889,3,959812978,"Mystery, Alaska (1999)",Comedy
983117,5605,F,18,2,95008,2889,3,1003958261,"Mystery, Alaska (1999)",Comedy
983118,5607,M,18,4,11209,2889,4,959190778,"Mystery, Alaska (1999)",Comedy
983119,5615,M,35,7,07028,2889,3,959132732,"Mystery, Alaska (1999)",Comedy
983120,5630,M,35,17,06854,2889,3,959020754,"Mystery, Alaska (1999)",Comedy
983121,5636,M,25,7,98102,2889,3,981102051,"Mystery, Alaska (1999)",Comedy
983122,5643,F,35,1,84108,2889,3,958894170,"Mystery, Alaska (1999)",Comedy
983123,5701,M,25,7,55311,2889,4,960757556,"Mystery, Alaska (1999)",Comedy
983124,5704,F,18,4,90024,2889,5,958548087,"Mystery, Alaska (1999)",Comedy
983125,5714,M,35,2,96753,2889,4,959223827,"Mystery, Alaska (1999)",Comedy
983126,5726,M,25,1,77845,2889,4,958495474,"Mystery, Alaska (1999)",Comedy
983127,5748,M,25,0,92155,2889,4,959909300,"Mystery, Alaska (1999)",Comedy
983128,5773,M,25,6,89123,2889,2,958431297,"Mystery, Alaska (1999)",Comedy
983129,5812,F,25,7,92120,2889,4,960874228,"Mystery, Alaska (1999)",Comedy
983130,5816,M,25,0,70119,2889,5,957914832,"Mystery, Alaska (1999)",Comedy
983131,5831,M,25,1,92120,2889,4,960873449,"Mystery, Alaska (1999)",Comedy
983132,5836,M,25,0,91604,2889,3,957845106,"Mystery, Alaska (1999)",Comedy
983133,5872,M,25,17,61265,2889,3,977282690,"Mystery, Alaska (1999)",Comedy
983134,5880,M,25,1,08904,2889,3,962219824,"Mystery, Alaska (1999)",Comedy

In [50]:
# grouping by multiple columns and calculating mean values
# To calculate the mean of the ratings separated by gender and title, we will group the DataFrame by more than one columns.
# Once the DataFrame is grouped, you can call agg() to make aggregated values of the columns.

# groups ratings by 'gender' and 'title'
separated_rating = ungrouped_sorted_movies.groupby(['gender', 'title'], as_index=False)
separated_rating

In [63]:
# Aggregates mean value of 'rating' using np.mean()
separated_rating = separated_rating.agg({'rating': np.mean})
separated_rating

rating    3.544837
dtype: float64

In [68]:
# Getting sorted, grouped data
# To get the favorite movies of both genders, we can either filter the genders and get the top movies of the filtered DataFrames, 
# or we can make use of a feature of grouped DataFrames to get the top movies of each gender.

# if you do not group the data, it will only return the 1st 3 items
separated_rating = ungrouped_sorted_movies.groupby(['gender', 'title'], as_index=False).agg({'rating': np.mean})
separated_rating.sort_values(['gender', 'rating'], ascending=False).groupby('gender').head(3)

     gender                                              title    rating
1676      M                              Godfather, The (1972)  4.583333
2175      M  Seven Samurai (The Magnificent Seven) (Shichin...  4.576628
2187      M                   Shawshank Redemption, The (1994)  4.560625
233       F                              Close Shave, A (1995)  4.644444
1203      F                         Wrong Trousers, The (1993)  4.588235
1064      F      Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)  4.572650

In [70]:
# pivoting tables
# Sometimes, you would need to use the rows of a DataFrame as columns to calculate some values.
# In order to calculate the difference in rating between genders of a movie, 
# you would need to be able to access the 'M' and 'F' rows of data as columns.

# The pivot() functions allows you to use all the values of a column as the columns of a new pivoted DataFrame.
# pivots ratings table to use values of 'title' as index and values of 'gender' as columns
pivoted_ratings = separated_rating.pivot('title', 'gender')
pivoted_ratings

                                                      rating
gender                                                     F         M
title
'burbs, The (1989)                                  2.793478  2.962085
10 Things I Hate About You (1999)                   3.646552  3.311966
101 Dalmatians (1961)                               3.791444  3.500000
101 Dalmatians (1996)                               3.240000  2.911215
12 Angry Men (1957)                                 4.184397  4.328421
13th Warrior, The (1999)                            3.112000  3.168000
2 Days in the Valley (1996)                         3.488889  3.244813
20,000 Leagues Under the Sea (1954)                 3.670103  3.709205
2001: A Space Odyssey (1968)                        3.825581  4.129738
2010 (1984)                                         3.446809  3.413712
28 Days (2000)                                      3.209424  2.977707
39 Steps, The (1935)                                3.965517  4.107692
54 (1998)                                           2.701754  2.782178
7th Voyage of Sinbad, The (1958)                    3.409091  3.658879
8MM (1999)                                          2.906250  2.850962
About Last Night... (1986)                          3.188679  3.140909
Absent Minded Professor, The (1961)                 3.469388  3.446809
Absolute Power (1997)                               3.469136  3.327759
Abyss, The (1989)                                   3.659236  3.689507
Ace Ventura: Pet Detective (1994)                   3.000000  3.197917
Ace Ventura: When Nature Calls (1995)               2.269663  2.543333
Addams Family Values (1993)                         3.000000  2.878531
Addams Family, The (1991)                           3.186170  3.163498
Adventures in Babysitting (1987)                    3.455782  3.208122
Adventures of Buckaroo Bonzai Across the 8th Di...  3.308511  3.402321
Adventures of Priscilla, Queen of the Desert, T...  3.989071  3.688811
Adventures of Robin Hood, The (1938)                4.166667  3.918367
African Queen, The (1951)                           4.324232  4.223822
Age of Innocence, The (1993)                        3.827068  3.339506
Agnes of God (1985)                                 3.534884  3.244898
...                                                      ...       ...
White Men Can't Jump (1992)                         3.028777  3.231061
Who Framed Roger Rabbit? (1988)                     3.569378  3.713251
Who's Afraid of Virginia Woolf? (1966)              4.029703  4.096939
Whole Nine Yards, The (2000)                        3.296552  3.404814
Wild Bunch, The (1969)                              3.636364  4.128099
Wild Things (1998)                                  3.392000  3.459082
Wild Wild West (1999)                               2.275449  2.131973
William Shakespeare's Romeo and Juliet (1996)       3.532609  3.318644
Willow (1988)                                       3.658683  3.453543
Willy Wonka and the Chocolate Factory (1971)        4.063953  3.789474
Witness (1985)                                      4.115854  3.941504
Wizard of Oz, The (1939)                            4.355030  4.203138
Wolf (1994)                                         3.074074  2.899083
Women on the Verge of a Nervous Breakdown (1988)    3.934307  3.865741
Wonder Boys (2000)                                  4.043796  3.913649
Working Girl (1988)                                 3.606742  3.312500
World Is Not Enough, The (1999)                     3.337500  3.388889
Wrong Trousers, The (1993)                          4.588235  4.478261
Wyatt Earp (1994)                                   3.147059  3.283898
X-Files: Fight the Future, The (1998)               3.489474  3.493797
X-Men (2000)                                        3.682310  3.851702
Year of Living Dangerously (1982)                   3.951220  3.869403
Yellow Submarine (1968)                             3.714286  3.689286
You've Got Mail (1998)                              3.542424  3.275591
Young Frankenstein (1974)                           4.289963  4.239177
Young Guns (1988)                                   3.371795  3.425620
Young Guns II (1990)                                2.934783  2.904025
Young Sherlock Holmes (1985)                        3.514706  3.363344
Zero Effect (1998)                                  3.864407  3.723140
eXistenZ (1999)                                     3.098592  3.289086

[1216 rows x 2 columns]

In [71]:
# applying function to all rows of DataFrame
# apply() allows you to apply a function to each row or column of a DataFrame.

# applies 'F' - 'M' to each row of the result
pivoted_ratings['rating'].apply(lambda x: x['F'] - x['M'], axis=1).sort_values()

title
Good, The Bad and The Ugly, The (1966)        -0.726351
Kentucky Fried Movie, The (1977)              -0.676359
Dumb & Dumber (1994)                          -0.638608
Longest Day, The (1962)                       -0.619682
Cable Guy, The (1996)                         -0.613787
Evil Dead II (Dead By Dawn) (1987)            -0.611985
Hidden, The (1987)                            -0.607167
Rocky III (1982)                              -0.581801
Caddyshack (1980)                             -0.573602
For a Few Dollars More (1965)                 -0.544704
Porky's (1981)                                -0.539489
Animal House (1978)                           -0.538286
Exorcist, The (1973)                          -0.529605
Fright Night (1985)                           -0.526316
Barb Wire (1996)                              -0.515020
Rocky II (1979)                               -0.501515
Beavis and Butt-head Do America (1996)        -0.498054
Big Trouble in Little China (1986)            -0.497078
From Dusk Till Dawn (1996)                    -0.496844
Wild Bunch, The (1969)                        -0.491736
Akira (1988)                                  -0.469233
Me, Myself and Irene (2000)                   -0.467537
Kingpin (1996)                                -0.465173
Where Eagles Dare (1969)                      -0.448718
Reservoir Dogs (1992)                         -0.444642
Raging Bull (1980)                            -0.431508
Godzilla (Gojira) (1954)                      -0.425328
South Park: Bigger, Longer and Uncut (1999)   -0.424206
Eyes Wide Shut (1999)                         -0.414736
Tommy Boy (1995)                              -0.414634
                                                 ...
Parent Trap, The (1961)                        0.412222
Sense and Sensibility (1995)                   0.414056
Beverly Hills Cop III (1994)                   0.422051
Hope Floats (1998)                             0.423802
Iron Eagle (1986)                              0.424817
Corrina, Corrina (1994)                        0.430897
Skulls, The (2000)                             0.432188
Sommersby (1993)                               0.435603
Gone with the Wind (1939)                      0.440471
South Pacific (1958)                           0.442764
Jewel of the Nile, The (1985)                  0.446157
Casper (1995)                                  0.446695
Never Been Kissed (1999)                       0.449636
Sound of Music, The (1965)                     0.450259
Grease 2 (1982)                                0.450925
Patch Adams (1998)                             0.464536
Mary Poppins (1964)                            0.467147
Guys and Dolls (1955)                          0.468391
Little Shop of Horrors, The (1960)             0.470312
French Kiss (1995)                             0.478752
Free Willy (1993)                              0.482573
Age of Innocence, The (1993)                   0.487561
Color Purple, The (1985)                       0.498851
Rocky Horror Picture Show, The (1975)          0.512885
Anastasia (1997)                               0.518391
Steel Magnolias (1989)                         0.535777
Little Women (1994)                            0.548849
Grease (1978)                                  0.608224
Jumpin' Jack Flash (1986)                      0.676359
Dirty Dancing (1987)                           0.830782
Length: 1216, dtype: float64

In [73]:
# calculated the standard deviation 
# Standard deviation is a common value to look for to see how controversial a thing is.
# std() is a helper aggregator functions available in Pandas that calculates and returns the standard deviation value of a Series

# Regroups movies and calculates the standard deviation of each title
ratings_std = ungrouped_sorted_movies.groupby('title')['rating'].std()
ratings_std

title
'burbs, The (1989)                                                    1.107760
10 Things I Hate About You (1999)                                     0.989815
101 Dalmatians (1961)                                                 0.982103
101 Dalmatians (1996)                                                 1.098717
12 Angry Men (1957)                                                   0.812731
13th Warrior, The (1999)                                              1.140421
2 Days in the Valley (1996)                                           0.921592
20,000 Leagues Under the Sea (1954)                                   0.869685
2001: A Space Odyssey (1968)                                          1.042504
2010 (1984)                                                           0.946618
28 Days (2000)                                                        0.920278
39 Steps, The (1935)                                                  0.853501
54 (1998)                                                             1.035481
7th Voyage of Sinbad, The (1958)                                      0.931531
8MM (1999)                                                            1.113432
About Last Night... (1986)                                            0.943025
Absent Minded Professor, The (1961)                                   0.938965
Absolute Power (1997)                                                 0.891659
Abyss, The (1989)                                                     0.948102
Ace Ventura: Pet Detective (1994)                                     1.140481
Ace Ventura: When Nature Calls (1995)                                 1.178748
Addams Family Values (1993)                                           1.013979
Addams Family, The (1991)                                             0.974064
Adventures in Babysitting (1987)                                      1.001816
Adventures of Buckaroo Bonzai Across the 8th Dimension, The (1984)    1.161592
Adventures of Priscilla, Queen of the Desert, The (1994)              1.009933
Adventures of Robin Hood, The (1938)                                  0.912244
African Queen, The (1951)                                             0.820580
Age of Innocence, The (1993)                                          0.919760
Agnes of God (1985)                                                   0.936249
                                                                        ...
White Men Can't Jump (1992)                                           0.938178
Who Framed Roger Rabbit? (1988)                                       0.964780
Who's Afraid of Virginia Woolf? (1966)                                0.959255
Whole Nine Yards, The (2000)                                          0.963258
Wild Bunch, The (1969)                                                0.933117
Wild Things (1998)                                                    1.032785
Wild Wild West (1999)                                                 1.065205
William Shakespeare's Romeo and Juliet (1996)                         1.167051
Willow (1988)                                                         1.002175
Willy Wonka and the Chocolate Factory (1971)                          1.016170
Witness (1985)                                                        0.795913
Wizard of Oz, The (1939)                                              0.895978
Wolf (1994)                                                           1.081220
Women on the Verge of a Nervous Breakdown (1988)                      0.882129
Wonder Boys (2000)                                                    0.880473
Working Girl (1988)                                                   0.879409
World Is Not Enough, The (1999)                                       0.972892
Wrong Trousers, The (1993)                                            0.708666
Wyatt Earp (1994)                                                     0.922257
X-Files: Fight the Future, The (1998)                                 0.897204
X-Men (2000)                                                          0.915067
Year of Living Dangerously (1982)                                     0.880997
Yellow Submarine (1968)                                               1.075429
You've Got Mail (1998)                                                1.037854
Young Frankenstein (1974)                                             0.872810
Young Guns (1988)                                                     1.017437
Young Guns II (1990)                                                  1.071959
Young Sherlock Holmes (1985)                                          0.891176
Zero Effect (1998)                                                    1.042932
eXistenZ (1999)                                                       1.178568
Name: rating, Length: 1216, dtype: float64

In [74]:
# using n-largest instead of sorting the values and calling head(n) to get the top n values
ratings_std.nlargest(5)

title
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Name: rating, dtype: float64